body {
	color: black;
	font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
	font-size: 14px;
	line-height: 1.4;
    background-color: #707070;
}

.row, .segment {
	background-color: lightgrey;
}

#serialLog {
	height: 250px;
	overflow-y: scroll;
    font-family: "Menlo";
}

.sliderText{
    font-family: "Menlo";
    font-size: 10px;
    text-align: center;
    padding: 2px;
}



